body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora';
  line-height: 1.5;
  background-color: white;
  overflow: auto;
  width: 100%;
}

header {
  margin: auto;
  color: #000000;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 30px;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 75px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

nav {
  padding: 15px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  display: flex;
}

nav ul li:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid red;
  font-size: 14px;
  width: 175px;
  z-index: 3;
}

.dropdown-menu ul {
  width: 200px;
  padding: 10px;
}

.dropdown-menu ul li {
  margin-bottom: 10px;
}

.dropdown-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.sponsor-button {
  background-color: rgb(255, 70, 70);
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

main {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.banner1 {
  margin: auto;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100% !important;
}

.banner2 {
  margin: auto;
  max-width: 100%;
}


.about-us-header {
  font-weight: bold;
  font-size: 16px;
}

.about-us-content {
  max-width: 40%;
  text-align: center;
  max-width: 725px;
}

.about-us-content-2 {
  font-weight: bold;
  text-decoration: underline;
}

footer {
  margin: auto;
  background-color: #000000;
  color: white;
  padding: 20px;
  height: 275px;
  max-width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

.footer-container {
  border-bottom: white 1px solid;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-left-section {
  display: flex;
  align-items: center;
}

.footer-left-section img {
  width: 75px;
  height: 50px;
  margin-right: 10px;
}

.footer-left-section text {
  font-size: 24px;
  font-weight: bold;
}

.footer-contact-info-container {
  margin: auto;
  position: absolute;
  max-width: 500px;
  text-align: center;
  font-size: 14px;
}

footer .footer-container .footer-right-section {
  padding: 20px 20px;
}

footer .footer-container .footer-right-section button {
  border-radius: 70%;
  background-color: black;
  color: white;
  border: gray 2px solid;
  width: 50px;
  height: 50px;
}

.home-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}

.home-heading,
.home-heading2 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
}

.home-heading2 {
  padding-top: 0px;
}

.home-section-1,
.home-section-2,
.home-section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.home-img-1-label,
.home-img-2-label,
.home-img-3-label {
  max-width: 250px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.home-img-1-label-heading,
.home-img-2-label-heading,
.home-img-3-label-heading {
  font-weight: bold;
  font-size: 24px;
}

.home-img-1-label-description,
.home-img-2-label-description,
.home-img-3-label-description {
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-section-1 a {
  padding: 12px;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 15px;
}

.home-section-2 a {
  padding: 12px;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 15px;
}

.home-section-3 a {
  padding: 12px;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 15px;
}

.contact-us-heading-container {
  max-width: 1152px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-us-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.contact-us-container {
  padding-bottom: 50px;
  margin: auto;
  max-width: 1152px;
}

.contact-us-box {
  max-width: 1152px;
  display: flex;
  max-height: 665px;
  border: 1px solid black;
}

.contact-us-box img {
  height: 100%;
}

.contact-us-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us-form-container {
  display: flex;
  flex-direction: row;
}

.contact-us-form-labels {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-right: 10px;
}

.contact-us-form-labels label {
  max-height: 24px;
}

.contact-us-form-container {
  display: flex;
  flex-direction: row;
}

.contact-us-form-inputs textarea {
  resize: none;
  max-width: 177.5px;
}

.contact-us-form-section {
  padding-bottom: 30px;
}

.security-number-display-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.security-number-display-container label {
  padding-right: 60px;
}

#security-number-display {
  padding: 5px;
  border: black 1px solid;
  background-color: #595757;
  color: white;
}

#contact-form-submit {
  margin: 16px, 20px, 16px, 20px;
  ;
  padding: 10px;
  max-height: 52px;
  max-width: 94px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.history-img-1-label-description,
.history-img-2-label-description,
.history-img-3-label-description {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.history-section-1,
.history-section-2,
.history-section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  justify-content: center;
}

.committee-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.committee-box {
  max-width: 1152px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.committee-position-container {
  padding-left: 50px;
  padding-right: 150px;
}

.committee-closer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 100px;
}

.committee-container a {
  padding: 12px;
  background-color: black;
  color: white;
  width: fit-content;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}

.contact-us-information {
  text-align: center;
  padding-top: 50px;
}

.contact-us-name {
  font-weight: bold;
  font-size: 24px;
}

.contact-us-address,
.contact-us-phone-number,
.contact-us-fax-number {
  font-size: 12px;
}

.registration-container {
  max-width: 1142.73px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.registration-general-team-information,
.registration-team-manager,
.regsitration-team-captain,
.registration-cocaptain {
  display: flex;
  flex-direction: column;
}

.registration-general-team-information-heading,
.registration-team-captain-heading,
.registration-team-manager-heading,
.registration-cocaptain-heading {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid black 1px;
  display: flex;
}

.registration-general-team-information-form,
.registration-team-manager-form,
.registration-team-captain-form,
.registration-cocaptain-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.registration-team-manager-inputs,
.registration-general-team-information-inputs,
.registration-team-captain-inputs,
.registration-cocaptain-inputs {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-top: 5px;
}

.registration-container input,
select {
  margin-bottom: 3px;
}

.registration-container img {
  padding-bottom: 10px;
}

.registration-general-team-information-labels {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.registration-team-manager-labels,
.registration-team-captain-labels,
.registration-cocaptain-labels {
  display: flex;
  flex-direction: column;
  padding-right: 115px;
  max-width: 400px;
}

.registration-sections-container {
  border: solid black 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.registration-heading {
  padding-left: 50px;
  font-weight: bold;
  font-size: 16px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 954px;
  justify-content: center;
  padding-bottom: 50px;
}

.instructions-container img {
  padding-bottom: 50px;
}

.Instructions-Bold {
  font-weight: bold;
}

.highlights-heading {
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.highlights-section {
  display: flex;
  flex-direction: column;
  max-width: 1142.73px;
}

.highlights-section-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 1142.73px;
}

.highlights-section-b img {
  object-fit: cover;
}

.highlights-section-b span {
  padding-left: 40px;
  padding-right: 40px;
}

.highlights-section-a {
  display: flex;
  flex-direction: column;
  max-width: 1142.73px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.highlights-img-container-a {
  display: flex;
  justify-content: center;
}

.highlights-img-container-a img {
  padding-left: 40px;
  padding-right: 40px;
}

.highlights-section-a img {
  max-width: 600px;
}

.highlights-section-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.highlights-section-d img {
  max-width: 400px;
}

.highlights-section-d span {
  max-width: 954px;
}

.highlights-section-d-header {
  font-weight: bold;
  display: flex;
  align-content: left;
  max-width: 954px;
  width: 100%;
}

.transportation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.transportation-section {
  max-width: 1016px;
  display: flex;
  flex-direction: row;
  padding-left: 55px;
  padding: 35px;
  align-items: center;
}

.transportation-section img {
  max-height: 271px;
}

.transportation-section-heading {
  font-weight: bold;
  font-size: 24px;
}

.transportation-section-contents {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  padding: 45px;
}

.about-festival-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1016px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.schedule-header {
  font-weight: bold;
  font-size: 28px;
  padding-top: 40px;
}

.schedule-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  max-width: 954px;
}

.saturday-schedule-heading,
.sunday-schedule-heading {
  text-align: left;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

.schedule-content-header {
  font-weight: bold;
  padding-bottom: 10px;
}

.saturday-schedule-content,
.sunday-schedule-content {
  text-align: left;
}

.food-content {
  padding-left: 20px;
  padding-bottom: 20px;
}

.food-header {
  font-weight: bold;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.places-to-stay-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1016px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.places-to-stay-header {
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
}

.places-to-stay-header-description {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.places-to-stay-section {
  text-align: left;
  width: 100%;
}

.places-to-stay-section-header {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.flyers-and-posters-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1139px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flyers-and-posters-header {
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
}

.flyers-and-posters-header-description {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.flyers-and-posters-section {
  padding-top: 60px;
}

.FAQ-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1139px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.FAQ-container p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.FAQ-container ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.FAQ-container ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px dotted #000000;
}

.FAQ-container ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.FAQ-container ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.FAQ-container ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.FAQ-container ul li:last-of-type {
  padding-bottom: 0;
}

.FAQ-container ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.FAQ-container ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

.FAQ-container ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.FAQ-container ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.FAQ-container ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.FAQ-container ul li input[type=checkbox]:checked~p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.news-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.news-section img {
  max-height: 361px;
  max-width: 507px;
}

.news-section-heading {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 40px;
}

.news-section-contents {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  padding: 45px;
  padding-bottom: 60px;
}

.videos-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1016px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.videos-header {
  font-size: 32px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 30px;
}

.videos-content {
  text-align: left;
  width: 100%;
  padding-bottom: 80px;
}

.photo-gallery-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1080px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.photo-gallery-banner-2 {
  padding-top: 40px;
}

.photo-gallery-section-header {
  font-size: 28px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-the-race-container{
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1080px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.race-results-header {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
}

.paid-race-results hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.division-section-header, .participating-teams-heading{
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: left;
  padding-top: 40px;
}

.division-section-table{
  text-align: left;
}

.division-section-table td {
  padding-right: 70px;
}

.division-section-content {
  text-align: left;
}

.participating-teams {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 40px;
}

.participating-teams-contents {
  padding-right: 80px;
}

.sponsors-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1080px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.sponsors-and-sponsors-header {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 34px;
  font-weight: bold;
}

.sponsors-and-sponsors-description {
  padding-bottom: 30px;
}

.sponsors-and-sponsors-content-header {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.sponsors-and-sponsors-content{
  padding-bottom: 20px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}

.press-release-container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  max-width: 1080px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.press-release-container span {
  padding-top: 50px;
  padding-bottom: 50px;
}

.press-release-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.press-release-content-two {
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.press-release-content span {
  text-align: left;
  padding-right: 30px;
}

.press-release-content img {
  max-width: 299px;
  max-height: 387px;
}

@media (max-width: 768px) {

  .left-section {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  .sponsor-button {
    margin-top: 10px;
  }

  .about-us-header {
    font-weight: bold;
    font-size: 25px;
  }
}